@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.theme-btn{
padding: 20px 20px;
border-radius: 20px;
cursor: pointer;
font-weight: bolder;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1300px;
  margin: auto;
  margin-top: 30px;
  font-family: "Space Grotesk", Arial, sans-serif;
  background-color: wheat;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 70px;
}

.nav-container a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 17px 20px;
  background-color: rgb(121, 121, 122);
  border-radius: 10px;
  font-family: "Space Grotesk", Arial, sans-serif;
}

.nav-container .nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.intro {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.intro .w-40 {
  width: 40%;
}

.intro .w-40 h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

.intro .w-40 p {
  font-size: 23px;
  margin-bottom: 30px;
  font-weight: 420;
}

.intro .w-40 button {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.intro .w-60 {
  width: auto;
}

.comp-list {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 150px;
}

.service-cont {
  display: flex;
  gap: 40px;
  margin-bottom: 90px;
  width: 60%;
  align-items: center;
}

.service-cont p {
  font-size: 19.5px;
  text-shadow: 1px 1px 2px black;
}

.service-cont h1 {
  padding: 10px 10px;
  background-color: rgb(28, 184, 28);
  border-radius: 10px;
  border-bottom: 3px solid black;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 100px;
}

.services .card {
  width: 600px;
  height: 300px;
  border-radius: 30px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: crosshair;
  transition-duration: 0.5s;
}

.services .card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  background-color: rgb(210, 195, 195) !important;
}

.services .card .w-50 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.services .card .w-50 h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  background-color: rgb(200, 194, 185);
  border-radius: 20px;
}

.services .card .img {
  width: 200px;
  height: 200px;
}

.opertunity {
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1240px;
  height: 320px;
  background-color: #e5bebe;
  border-radius: 30px;
  overflow: visible;
  margin: auto;
  margin-bottom: 100px;
}

.opertunity .Text-w-40 {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.opertunity .Text-w-40 button {
  width: fit-content;
  background-color: rgb(24, 33, 61);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.cases {
  height: 320px;
  background-color: rgb(19, 18, 18);
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  padding: 70px 60px;
  margin-bottom: 100px;
  color: white;
}

.cases p {
  font-size: 18px;
  padding-right: 50px;
  border-right: 1px solid white;
}

.cases .size {
  width: 286px;
  height: 115px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.process {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.father {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100%;
  justify-content: space-between;
}
.process .process1 {
  width: 1230px;
  height: 250px;
  padding: 40px 60px;
  background-color: rgb(182, 224, 41);
  border-radius: 50px;
  border-bottom: 3px solid black;
}

.title-cont {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

 .title {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;

  height: 35%;
}

.title-cont img {
  height: 58px;
}

.process1 .title h1 {
  font-size: 40px;
}

.process2{
  width: 1230px;
  height: 160px;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-bottom: 3px solid black;
}

@media screen and (max-width: 768px) {
  /* nav responsivness */
  .nav-container {
    flex-direction: column;
    gap: 20px;
  }
  .nav-container a {
    font-size: 12px;
    padding: 5px 7px;
  }
  .nav-container .nav-list {
    gap: 5px;
  }
  nav {
    position: static !important;
  }

  /* intro */
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro .w-40 {
    width: 100%;
    margin-bottom: 40px;
  }

  .intro .w-40 h1 {
    text-align: center;
  }

  .intro .w-40 p {
    text-align: center;
  }

  .intro .w-40 button {
    margin: auto;
    display: block;
  }
  .intro .w-60 img {
    width: 400px;
    height: 400px;
  }

  /* companies */
  .comp-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* services */
  .service-cont {
    width: 100%;
    gap: 20px;
  }

  .service-cont p {
    font-size: 14px;
  }

  .service-cont h1 {
    font-size: 20px;
    margin-left: 5px;
  }

  /* cards */

  .services {
    justify-content: center;
  }

  .services .card {
    width: 400px;
  }

  .services .card .img {
    width: 120px;
    height: 120px;
  }

  .services .card .w-50 h2 {
    font-size: 20px;
  }

  /* oppertunity */
  .opertunity {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 340px;
    height: 840px;
  }

  .opertunity .Text-w-40 {
    width: fit-content;
    justify-content: center;
    gap: 25px;
  }

  .cases {
    width: 80%;
    height: 900px;
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
  }

  .cases p {
    width: 100%;
    border-right: 0px;
    padding-right: 0px;
  }

  .process .process1 {
    width: 450px;
    padding: 15px 15px;
  }

  .process .process1 p{
  font-size: 15px;
  padding: 5px 5px;
  }

  .father{
   align-items: center;
  }

  .process2{
      width: 450px;
    padding: 15px 15px;
  }

}
